In [18]:
filelist=['26.1_-80.6.txt','26.1_-97.6.txt','26.1_-98.6.txt','27.1_-80.6.txt']
import pandas as pd

In [21]:
y=pd.DataFrame()
y

Empty DataFrame
Columns: []
Index: []

In [26]:
for i in range(0,len(filelist)):
    
    x_i=pd.read_table(filelist[i],delimiter=",")
    x_i['latitude']="-31.5"
    x_i['longitude'] = "91.6"
    y.append(x_i)

In [15]:
import os 
os.listdir()

['.ipynb_checkpoints',
 '26.1_-80.6.txt',
 '26.1_-81.6.txt',
 '26.1_-97.6.txt',
 '26.1_-98.6.txt',
 '27.1_-80.6.txt',
 'output.py',
 'Untitled.ipynb']

In [27]:
y

Empty DataFrame
Columns: []
Index: []